REMNAWAVE_URL=
REMNAWAVE_TOKEN=
RESCUE_USERNAME=
RESCUE_DISPLAY_NAME=
RESCUE_INTERNAL_SQUAD_NAME=
RESCUE_EXTERNAL_SQUAD_UUID=
RESCUE_DAYS=
RESCUE_TRAFFIC_LIMIT_BYTES=
RESCUE_TRAFFIC_LIMIT_STRATEGY=
RESCUE_DESCRIPTION=
RESCUE_CONNECTION_PROTOCOL=

GITHUB_TOKEN=
GITHUB_GIST_URL=
GITHUB_GIST_FILE=

SOURCECRAFT_REPO_URL=
SOURCECRAFT_FILE=
SOURCECRAFT_BROWSE_URL=
SOURCECRAFT_TOKEN=
SOURCECRAFT_GIT_NAME=
SOURCECRAFT_GIT_EMAIL=
SOURCECRAFT_COMMIT_MESSAGE=
